@import "../../styles/variables";
.notes {
  margin-bottom: 30px;
  &__list {
    list-style-type: none;
  }
}
.header__list-item {
  max-width: 150px;
  width: 100%;
  font-size: 21px;
  font-weight: 400;
  color: $c-white;
}
