@import "../../styles/variables";
.notes {
  margin-bottom: 30px;
  &__list {
    list-style-type: none;
  }
  &__show-modal {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__btn-show {
    max-width: 150px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid $c-border;
    background-color: $c-item;
    color: $c-border;
    cursor: pointer;
    font-size: 16px;
    transition: $t-transition;
  }
  &__btn-show:hover {
    border: 1px solid $c-item;
    background-color: $c-border;
    color: $c-item;
  }
}
.header__list-item {
  max-width: 110px;
  width: 100%;
  font-size: 21px;
  font-weight: 400;
  color: $c-white;
}
