@import "../../../styles/variables";

.statistics {
  &__list-item {
    width: 100%;
    background: #e8eaf5;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__category-item {
    max-width: 800px;
    width: 100%;
    height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 21px;
  }
  &__active-item,
  &__archive-item {
    max-width: 80px;
    width: 100%;
    font-size: 21px;
    font-weight: 400;
    color: $c-black;
  }
}
