@import "../../styles/variables";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  &__form {
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0.5em;
    padding: 1em;
    gap: 20px;
  }
  &__input-name,
  &__select,
  &__content {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid $c-grey;
  }
  &__content {
    resize: none;
    overflow-y: scroll;
  }
  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  &__btn-close,
  &__button-save {
    max-width: 100px;
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid $c-border;
    background-color: $c-item;
    color: $c-border;
    cursor: pointer;
  }
  &__btn-close:hover,
  &__button-save:hover {
    border: 1px solid $c-item;
    background-color: $c-border;
    color: $c-item;
    transition: $t-transition;
  }
}
