@import "../../styles/variables";
.header {
  width: 100%;
  background: $c-grey;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  margin-bottom: 20px;
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-icons {
    list-style-type: none;
    max-width: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
