@import "../../styles/variables";
.header__show-archive {
  max-width: 100px;
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid $c-border;
  background-color: $c-item;
  color: $c-border;
  cursor: pointer;
}
.header__show-archive:hover {
  border: 1px solid $c-item;
  background-color: $c-border;
  color: $c-item;
  transition: $t-transition;
}
